.wrapper {
    
  background-image: url('../../background.png');

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 200px;
  background-position: center;
  background-size: 100%;
  margin: auto;

}